@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body .position-relative {
  position: relative;
}

body .position-absolute {
  position: absolute;
}

body .position-fixed {
  position: fixed;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-items: center;
}

body {
  background-color: #1f2732;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

body .container {
  border: 1px solid #1f2632;
  position: relative;
  padding: 26px;
  padding-bottom: 29px;
  max-width: 350px;
  border-radius: 11px;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #313b47;
}

@media (max-width: 37.9375em) {
  body .container {
    width: 5%;
    min-width: 300px;
    padding: 17px;
  }
}

@media (max-width: 18em) {
  body .container {
    width: 15%;
    min-width: 270px;
    padding: 15px;
  }
}

body .container #advice-num {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 0.7rem;
  color: #52ffa8;
  text-transform: uppercase;
}

body .container .advice {
  text-align: center;
  font-family: "Manrope", sans-serif;
  margin-bottom: 0.5rem;
  color: #cee3e9;
  padding: 1.1rem 0;
  font-size: 28px;
  width: 100%;
}

@media (max-width: 37.9375em) {
  body .container .advice {
    font-size: 17px;
    margin-bottom: 0;
    padding: 0.7rem 0;
  }
}

@media (max-width: 18em) {
  body .container .advice {
    margin-bottom: 0;
    font-size: 13px;
  }
}

body .container .pattern {
  width: 100%;
  margin: 0 auto;
}

body .container .bg {
  padding: 0.7rem;
  position: absolute;
  bottom: -1.2rem;
  left: 155px;
  border-radius: 50%;
  border: none;
  background-color: #52ffa8;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  body .container .bg {
    left: 160px;
    padding: 0.6rem;
  }
}

@media (max-width: 37.9375em) {
  body .container .bg {
    left: 140px;
    padding: 0.3rem;
    bottom: -0.9rem;
  }
}

@media (max-width: 18em) {
  body .container .bg {
    left: 120px;
    padding: 0.3rem;
    bottom: -0.7rem;
  }
}

body .container .bg img {
  width: 19px;
  height: 19px;
  margin-bottom: -0.2rem;
}

@media (max-width: 63.9375em) {
  body .container .bg img {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 37.9375em) {
  body .container .bg img {
    width: 12px;
    height: 12px;
    margin-bottom: -0.1rem;
  }
}

@media (max-width: 18em) {
  body .container .bg img {
    width: 11px;
    height: 11px;
    margin-bottom: -0.1rem;
  }
}

body .container .bg:hover {
  -webkit-box-shadow: 0px 0px 8px 2px #52ffa8;
          box-shadow: 0px 0px 8px 2px #52ffa8;
}
/*# sourceMappingURL=style.css.map */