body {
  //margin:11.5rem 10rem;
  background-color: #1f2732;
  padding: 1rem;

  // margin-inline: auto;
  //margin: 0 auto;
  width: 100vw;
  height: 100vh;

  .container {
    border: 1px solid hsl(218, 23%, 16%);
    position: relative;
    padding: 26px;
    padding-bottom: 29px;
    //width: 30%;
    max-width: 350px;
    border-radius: 11px;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #313b47;

    @include breakpoint-down(small) {
      width: 5%;
      min-width: 300px;
      padding: 17px;
    }
    @include breakpoint-down(xs) {
      width: 15%;
      min-width: 270px;
      padding: 15px;
    }
    #advice-num {
      text-align: center;
      font-family: "Manrope", sans-serif;
      font-size: 0.7rem;
      color: hsl(150, 100%, 66%);
      text-transform: uppercase;
    }
    .advice {
      //word-break: break-all;
      text-align: center;
      font-family: "Manrope", sans-serif;
      margin-bottom: 0.5rem;
      color: hsl(193, 38%, 86%);
      padding: 1.1rem 0;
      font-size: 28px;
      width: 100%;

      @include breakpoint-down(small) {
        //width: 20%;
        font-size: 17px;
        margin-bottom: 0;
        padding: 0.7rem 0;
      }
      @include breakpoint-down(xs) {
        margin-bottom: 0;
        font-size: 13px;
      }
    }
    .pattern {
      //min-width: 348px;
      width: 100%;
      margin: 0 auto;
    }
    .bg {
      padding: 0.7rem;
      position: absolute;
      bottom: -1.2rem;
      //left: 13.5vw;
      left: 155px;
      border-radius: 50%;
      border: none;
      background-color: hsl(150, 100%, 66%);
      cursor: pointer;

      @include breakpoint-down(medium) {
        //width: 20%;
        left: 160px;
        padding: 0.6rem;
      }

      @include breakpoint-down(small) {
        //width: 20%;
        left: 140px;
        padding: 0.3rem;
        bottom: -0.9rem;
      }
      @include breakpoint-down(xs) {
        //width: 20%;
        left: 120px;
        padding: 0.3rem;
        bottom: -0.7rem;
      } 
      img {
        width: 19px;
        height: 19px;
        margin-bottom: -0.2rem;
        @include breakpoint-down(medium) {
          width: 15px;
          height: 15px;
        }
        @include breakpoint-down(small) {
          width: 12px;
          height: 12px;
          margin-bottom: -0.1rem;
        }
        @include breakpoint-down(xs) {
          width: 11px;
          height: 11px;
          margin-bottom: -0.1rem;
        }
      }
      &:hover {
        box-shadow: 0px 0px 8px 2px #52ffa8;
      }
    }
  }
}
